.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  height: 50px;
  background: #032B60;
}

.nav-containter {
  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px; 
  background: #032B60;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  background: #2ab1ce;
  
}

.mainContainer {
  display: inline-grid;
  margin: 20px;
  padding: 10px;
  border: 10px;
  height: 520px;
  width: 300px;
  background: rgba(155,106,190,1);
  border-radius: 9px 9px 9px 9px;
  box-shadow: 26px 10px 6px -2px rgba(0,0,0,0.92);
  transition: all 0.3s linear;
}



.img-container{
  position: relative;
  width: 100%;
  display: block;
}



.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  text-align: center;
  color: #222;
  background: #af9a7d;
  overflow: hidden;
  width: 200px;
  margin: auto;
  padding: 0.4rem 0.9rem;
  border: 3px solid #af9a7d;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: #af9a7d;
}

.Movie-link {
  top: 50%;
  left: 50%;
  
  
} 

.img-container:hover .btn-primary{
  transform: scale(5);
}

.images{
  height: 400px;
  width: 300px;
  border-radius: 9px 9px 9px 9px;
  padding: 5px;
  margin: 2px;
  align-content: center;
}

.title{
  text-align: center
}


.MoviesArticle {
  margin: auto;
  text-align: center;
  background: #89cde2;
  box-shadow: 26px 10px 6px -2px rgba(0,0,0,0.92);
  border-radius: 9px 9px 9px 9px;
  width: 50%;
}







